doctype html
html(lang="en")
	head

		<!-- STYLES -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" rel="stylesheet" type="text/css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"  rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/bigcards.css" type="text/css" media="all" rel="stylesheet" title="cardsize" />

		<!-- FONTS -->
		<link href='//fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

		<!-- SCRIPTS -->

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js" type="text/javascript"></script>

		<!-- External Scripts -->
		<script src="lib/jquery.ui.touch-punch.min.js"></script>
		<script src="lib/jquery.jeditable.min.js"></script>
		<script src="lib/jquery.jeditable.datepicker.min.js"></script>
		<script src="lib/jquery.blockUI.js"></script>
		<script src="lib/moment-with-locales.min.js"></script>

		<!-- Socket.IO -->
		<script src="socket.io/socket.io.js"></script>

		<!-- ** My Script ** -->
		<script src="script.js"></script>


		title= locals.pageTitle

	body
		block body
